---
layout: default
---

<div class="middle-container">
  <aside class="left-aside">
    <h2 class="post-list-heading">{{ page.list_title | default: "My Posts" }}</h2>
    {%- if site.posts.size > 0 -%}
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%d/%m/%y" -%}
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
              ({{ post.date | date: date_format }})
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <i>(No posts yet)</i>
    {%- endif -%}
  </aside>
  <main>
    {{ content }}
  </main>
</div>
